

.signup-main-container{
    display:flex;
    justify-content: center;
    align-items:center;
    background-size: cover;
    height:100vh;
}
.signup-container {
    display: flex;
    align-items:center;
    width:100%;
  }
  .logo-container{
    width:50%;
    height:100vh;
    display:flex;
    align-items:center;
    background-color: #C3BAEF;
  }
  .login-side-image{
    width:100%;
  }
  
  .form-container {
    width:50%;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items:center;
    
  }
  .signup-logo-image{
    width:140px;
    height:140px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .form-fields-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .input-container {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    width: 502px;
    height: 39px;
    margin: 12px;
    flex-shrink: 0;

  }
  .input-icon{
    margin: 0 30px;
  }
  .input-box{
    background-color: transparent;
    border: none;
    border-color: #F2F2F2 ;
    color: rgba(0, 0, 0, 0.35);
    font-family: Inter;
    font-size: 18px;
    outline: none;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  label {
    display: block;

  }
  
  input {
    border: 0px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  .i-box{
    width: 18px;
    margin-top: 12px;
  }
  .checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 20px;
  }
  .terms-style{
    color: #1955A6;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .button {
    margin-top: px;
    width: 100%;
    text-align: center;
  }
  .singup-button {
    padding: 20px;
    margin: auto;
    width: 380px;
    color: #FFF;
    font-family: Inter;
    font-size: 25px;
    font-style: normal; 
    font-weight: 500;
    line-height: normal;
    height: 66px;
    flex-shrink: 0;
    border-radius: 13px;
    background: #290051;
    margin-left: 30px;
  }
  .signin-style{
    color: #290051;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  @media (max-width: 768px) {
    .signup-container {
      flex-direction: column;
    }
  }